* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Noto Sans Mono", monospace;
}

/***********
Sub-about
***********/

/* Navbar */
.wrap {
  width: 100%;
  border-bottom: 1px solid black;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 180px;
  margin: auto;
}

.login {
  display: flex;
  justify-content: flex-end;
}

.login-item {
  margin-left: 20px;
  padding-top: 15px;
  font-size: 16px;
  cursor: pointer;
}

.login > li:nth-child(1)::after {
  content: "｜";
  color: #ddd;
  font-size: 16px;
  padding: 0 10px;
}

.login > li:nth-child(2)::after {
  content: "｜";
  color: #ddd;
  font-size: 16px;
  padding: 0 10px;
}

li.login-item {
  margin: 0;
}

.fa-shopping-bag {
  padding: 0 15px;
}

.logo {
  margin: auto;
}

.logo > a {
  font-size: 48px;
  font-weight: 600;
  color: #000000;
  cursor: pointer;
}

.menu {
  display: flex;
  margin: auto;
  padding: 30px 0;
}

.menu-item {
  font-size: 20px;
  font-weight: 800;
  margin-left: 50px;
  cursor: pointer;
}

.menu-item:hover {
  text-decoration: underline;
}

.menu-item > a {
  color: #000000;
}

/* Main-1 */
.sub-main {
  width: 100%;
}

.main-box-1 {
  width: 1280px;
  margin: auto;
  padding-top: 50px;
}

.main-img > img {
  display: block;
  width: 600px;
  height: 400px;
  margin: auto;
}

.main-contents-1 {
  margin: 40px 0;
  text-align: center;
}

.main-contents-1 > h1 {
  font-size: 35px;
}

.content {
  line-height: 25px;
}

/* Main-2 */
.main-2 {
  width: 100%;
}

.main-box-2 {
  display: flex;
  width: 1280px;
  margin: auto;
  padding: 50px 0 30px 0;
}

.info-set {
  margin: 10px 20px 30px 20px;
  padding: 15px;
  border: 1px solid #ddd;
}

.info-set > img {
  width: 350px;
  height: 250px;
}

.main-info {
  text-align: center;
}

.main-info > span {
  font-size: 14px;
  line-height: 25px;
}

.bts > button {
  width: 100px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #ddd;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.bts > button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Footer */
.footer {
  width: 100%;
  background-color: #ededed;
}

.last {
  width: 1280px;
  margin: auto;
  padding: 30px;
  text-align: center;
}

.last > span:nth-child(1) {
  font-size: 25px;
}

.fa-facebook-f,
.fa-instagram,
.fa-youtube {
  padding-left: 7px;
}

.last > h1 {
  margin: 8px 0;
}

.last-info {
  margin-top: 15px;
  line-height: 25px;
}

.last-info > span {
  font-size: 14px;
  cursor: pointer;
}

.last-info > span:nth-child(1)::after {
  content: "｜";
  color: #ddd;
  font-size: 14px;
  padding: 0 5px;
}

.last-info > span:nth-child(2)::after {
  content: "｜";
  color: #ddd;
  font-size: 14px;
  padding: 0 5px;
}

.last-contect {
  margin: 15px 0;
  line-height: 25px;
}

/***********
Sub-store
***********/

.items {
  width: 100%;
}

.item-box {
  width: 1280px;
  margin: auto;
  padding: 50px 0 90px 0;
}

.item-box > h1 {
  text-align: center;
  margin-bottom: 40px;
}

.item-set {
  display: flex;
}

.item {
  margin: 0 10px;
  padding: 15px;
  border: 1px solid #ddd;
}

.item > img {
  width: 280px;
  height: 350px;
  cursor: pointer;
}

.item-title {
  margin: 10px 0 6px 0;
  font-size: 18px;
  font-weight: 600;
}

.item-info {
  font-size: 14px;
}

.item-price {
  margin: 12px 0;
  color: tomato;
  border-top: 1px solid black;
  padding-top: 8px;
}

.review {
  text-align: right;
  cursor: pointer;
}

/***********
Sub-customer
***********/

.customer {
  width: 100%;
}

.customer-box {
  width: 1280px;
  margin: auto;
  padding: 50px 0;
}

.customer-box > p {
  font-size: 17px;
  font-weight: 800;
  text-align: center;
  line-height: 25px;
}

.cus-tb {
  width: 1000px;
  margin: 50px 150px 20px 150px;
  align-items: center;
  border: 2px solid #000000;
  border-left: none;
  border-right: none;
}

.cus-tb td {
  padding: 20px;
  font-weight: 600;
  border: 1px solid #000000;
  border-left: none;
  border-right: none;
}

.cus-title {
  width: 600px;
}

.cus-content {
  width: 800px;
  height: 400px;
}

.cus-tb > tr {
  background-color: #e0e0e0;
}

.cus-agree {
  text-align: right;
  margin-right: 100px;
}

.cus-btn {
  text-align: center;
}

.cus-btn > button {
  width: 80px;
  height: 40px;
  margin-top: 20px;
  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;
}
